@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#grid-body {
  height: 100vh;
  width: 100%; }

#grid-body {
  display: grid;
  grid-template-areas: "header"
 "titulo"
 "productos"
 "titulo2"
 "acerca-denosotros"
 "footer";
  grid-template-columns: 1fr;
  height: 100vh; }

@media screen and (min-width: 576px) {
  #grid-body {
    display: grid;
    grid-template-areas: "header"
 "titulo"
 "productos"
 "titulo2"
 "acerca-denosotros"
 "footer";
    grid-template-columns: 1fr;
    height: 100vh; } }

    /* HEADER ---------------------------------------------------------------------------------------------------*/

#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
  background: url(../img/meli1.webp);
  background: #23074d;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #c31431af, #240b3675), url(../img/meli1.webp);
  background: linear-gradient(to right, #c3143183, #240b36ab), url(../img/meli1.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 1.1rem; }

  .logo2 {
    display: none;
  }

@media screen and (min-width: 576px) {
  #contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (min-width: 768px) {
  #contenedor {
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 320px; }
  .menu .logo {
    padding: 1rem; }
  .menu {
    align-self: stretch; }
  .logo img {
    margin-bottom: 70px; } }

.menu {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.menu__ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  justify-content: right;
  margin-right: 50px;
  margin-top: 0; }

.menu__ul li a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 450;
}

li:hover {
  text-decoration: underline #ffff; }

#wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.titulo {
  height: 100vh;
  background-image:  linear-gradient(rgb(255, 255, 255), rgba(255, 255, 0, 0.5)),
  url("../img/MeliYoga4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Rowdies', cursive;
  font-size: larger;
  justify-content: center;
 }

.titulo h1 h2 {
  align-items: center; 
  }

  .promos {
    width: 100%;
  }

 .minititulo {
  text-align: center;
  background-color: #706823;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  }


  #menu-fixed {
    display: flex;
    justify-content:center;
    flex-direction: row-reverse;
    gap: 10rem;
    z-index: 1000;
    padding: 0;
    width: 100%;
  }

  .sticky{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 100px;
    background: #23074d;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #b3606eaf, #240b3675);
    background: linear-gradient(to right, #ac6c7783, #13051dab);
  }

  .sticky .logo {
    display: none;
  }

  .sticky .logo2 {
    display: block;
    background-color: #ffff;
  }

  .sticky .logo2Img {
    height: 100px;
    width: 210px;
  }

  .sticky .menu__ul {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .sticky .menu__ul li a {
    font-weight: 500;
  }

/* LOGIN & SIGNUP ----------------------------------------------------------------------------------------------------------*/

#loginModal {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 45%;
}

.modal-content {
  justify-content: center;
  align-items: center;
}

.form-check {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 5px;
}

#signUpModal {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 45%;
}

#logInputBtn { 
  color: #ffffff;
  background: transparent;
  padding: 4px;
  border-color: #ffffff;
  height: 35px;
  width: 60px;
}

#signInputBtn { 
  color: #ffffff;
  background: transparent;
  padding: 4px;
  border-color: #ffffff;
}

#logOutBtn {
  color: #ffffff;
  background: transparent;
  padding: 4px;
  border-color: #ffffff;
  height: 35px;
  width: 80px;
}

.modal-content {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* PRODUCTOS --------------------------------------------------------------------------------------------------*/

#productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  gap: 2rem;
  margin-bottom: 10rem;
  font-size: 1rem; }
 
  #productos .imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    margin: 2rem;
    border: #23074d;
    border-radius: 5px; }
    #productos .imagen img {
      height: 200px;
      width: 150px;
      border-radius: 15px;
      margin-bottom: 1rem; }
    #productos .imagen .imagen__img1, #productos .imagen .imagen__img2, #productos .imagen .imagen__img3 {
      top: -50px;
      left: -35px;
      display: block;
      z-index: 99;
      cursor: pointer;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
    #productos .imagen .imagen__img1:hover {
      transform: scale(1.5); }
    #productos .imagen .imagen__img2:hover {
      transform: scale(1.5); }
    #productos .imagen .imagen__img3:hover {
      transform: scale(1.5); }
    #productos .imagen h2 {
      margin-bottom: 1rem; }
    #productos .imagen p {
      margin-bottom: 1rem;
      text-align: center;
      font-weight: 500; }

@media screen and (max-width: 576px) {
  #productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    margin-bottom: 4rem;
    font-size: 1rem; } }

@media screen and (min-width: 768px) {
  #productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    height: 100%; } }

/* CARROUSEL IMÁGENES -----------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
  .containersection {
    display: none; } }

@media only screen and (max-width: 945px) and (min-width: 768px) {
  .containersection {
    height: 750px;
    width: 700px; } }

.containersection {
  background: #fff;
  padding: 50px 0; }

.container2 {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 4rem; }

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px; }
  .carousel > input, #formulario .formulario .comentarios-btns .carousel > textarea {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute; }
    .carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type, #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
      margin-left: -500%; }
    .carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type, #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
      margin-left: -400%; }
    .carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type, #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
      margin-left: -300%; }
    .carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type, #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
      margin-left: -200%; }
    .carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type, #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
      margin-left: -100%; }
    .carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type, #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
      margin-left: 0%; }
    .carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1), #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5); }
    .carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2), #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5); }
    .carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3), #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5); }
    .carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4), #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5); }
    .carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5), #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5); }
    .carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6), #formulario .formulario .comentarios-btns .carousel > textarea:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5); }

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex; }

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal; }
  .carousel__slide figure {
    display: flex;
    margin: 0; }
  .carousel__slide div {
    position: relative;
    width: 100%; }
    .carousel__slide div:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 66.66667%; }
    .carousel__slide div > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
  .carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover; }
  .carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px; }
  .carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block; }
  .carousel__slide.scrollable {
    overflow-y: scroll; }

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px; }
  .carousel__slides + .carousel__thumbnails {
    margin-top: 20px; }
  .carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out; }
  .carousel__thumbnails label {
    display: block;
    position: relative; }
    .carousel__thumbnails label:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .carousel__thumbnails label > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
    .carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
      cursor: pointer; }
      .carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
        transition: all 300ms ease-in-out; }
  .carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

/* ICONOS  --------------------------------------------------------------------------------------------------*/
.iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 100%; }
  .iconos img {
    height: 50px;
    width: 50px; }
  .iconos p {
    font-family: 'Open Sans', sans-serif; }
  .iconos .iconos__contenido1, .iconos .iconos__contenido2, .iconos .iconos__contenido3, .iconos .iconos__contenido4, .iconos .iconos__contenido5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    align-content: center;
    gap: 1.5rem; }

.titulo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 100px;
  justify-content: center;
  font-family: 'Rowdies', cursive;
  font-size: larger;
  margin-bottom: 3rem;
  gap: 3rem;
  font-size: 1.3rem; }
  .titulo2 .titulo2__titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    background-color: #a09d9d;
    padding: 2rem;
    max-width: 100%;
    width: 100%;
    margin: 0; }
  .titulo2 h1 {
    text-align: center; }

@media screen and (min-width: 576px) {
  .iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 0;
    height: 100%; } }

@media screen and (min-width: 768px) {
  .iconos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 8rem;
    height: 100%; } }

@media screen and (min-width: 1024px) {
  .iconos {
    display: grid;
    grid-template-columns: repeat(2, 55%);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: "iconos1 iconos2"
 "iconos3 iconos4"
 "iconos5 iconos5";
    row-gap: 6rem;
    column-gap: 8rem;
    margin-bottom: 9rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center; }
    .iconos .iconos__contenido5 {
      margin: 0 auto; }
  .titulo2 {
    gap: 8rem; }
  .iconos__contenido1 {
    grid-area: iconos1; }
  .iconos__contenido2 {
    grid-area: iconos2; }
  .iconos__contenido3 {
    grid-area: iconos3; }
  .iconos__contenido4 {
    grid-area: iconos4; }
  .iconos__contenido5 {
    grid-area: iconos5; } }

.titulo2__titulos__2 h1 {
  font-family: 'DM Sans', sans-serif; }

/* ACERCA DE NOSOTROS ---------------------------------------------------------------------------------------*/
@media screen and (max-width: 620px) {
  .acerca-denosotros__video iframe {
    max-width: 100%;
    height: 300px;
    width: 450px;
    border-radius: 10px; } }

#acerca-denosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  font-size: 1.3rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background: #457fca; }
  #acerca-denosotros .acerca-denosotros__texto {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
  #acerca-denosotros .acerca-denosotros__titulo {
    text-align: center; }
  #acerca-denosotros .acerca-denosotros__titulo {
    grid-area: titulo3; }
  #acerca-denosotros .acerca-denosotros__texto {
    grid-area: texto3; }
  #acerca-denosotros .acerca-denosotros__video {
    grid-area: video3; }
  #acerca-denosotros .acerca-denosotros__video iframe {
    max-width: 100%;
    border-radius: 15px; }

@media screen and (min-width: 576px) {
  #acerca-denosotros {
    height: 800px;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-size: 1.3rem;
    padding-top: 4rem;
    padding-bottom: 3rem; } }

@media screen and (min-width: 1024px) {
  #acerca-denosotros {
    display: grid;
    grid-template-areas: "titulo3 titulo3"
 "texto3 video3";
    grid-template-columns: 30%;
    grid-template-rows: 50px 300px;
    column-gap: 4rem;
    row-gap: 4rem;
    justify-content: center;
    margin-bottom: 5rem;
    height: 600px; }
    #acerca-denosotros .acerca-denosotros__titulo {
      text-align: center; } }

/* MENU HAMBURGUESA  -----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  #main-header {
    display: none; } }

@media screen and (max-width: 767px) {
  #header2 {
    display: none; } }

* {
  margin: 0;
  padding: 0; }

#main-header {
  height: 110px; }

.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23074d;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #c3143165, #240b3669), url(../img/meli1.jpg);
  background: linear-gradient(to right, #c3143157, #240b367c), url(../img/meli1.jpg);
  padding: 0 0.4rem; }

.main-logo {
  color: white;
  font-size: 32px;
  text-decoration: none; }
  .main-logo img {
    padding-left: 1rem;
    height: 120px;
    width: 250px; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7); }

.main-nav.show {
  margin-left: 0; }

.nav-links {
  background-color: #ffffff;
  background: -webkit-linear-gradient(to right, #c31431af, #240b3675), url(../img/meli1.jpg);
  background: linear-gradient(to right, #c3143183, #240b36ab), url(../img/meli1.jpg);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3.5rem; }
  .nav-links a {
    color: #ffffff;
    font-size: 1.8rem; }

.link-item:first-child {
  margin-bottom: 2rem; }

.link-item {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: bold;
  position: relative; }

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer; }

/* 
    Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
  */
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear; }

/* 
    con los span dibujamos un icono de cerrar 
    para mostrar cuándo la navegación este abierta 
  */
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff; }

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px); }

.button-menu.close span:nth-child(3) {
  display: none; }

* {
  margin: 0;
  padding: 0; }

.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 0.4rem; }

.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999; }

.main-nav.show {
  margin-left: 0; }

.nav-links {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start; }

.link-item {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: bold;
  position: relative; }

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all; }

.link-item:hover::after {
  width: 100%; }

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear; }

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff; }

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px); }

.button-menu.close span:nth-child(3) {
  display: none; }

@media screen and (min-width: 768px) {
  .button-menu {
    display: none; }
  .main-logo {
    flex-basis: 30%; }
  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%; }
  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white; }
  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem; } }

#body-bio {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0; }

#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
  background: url(../img/meli1.jpg);
  background: #23074d;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #c31431af, #240b3675), url(../img/meli1.jpg);
  background: linear-gradient(to right, #c3143183, #240b36ab), url(../img/meli1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 1.1rem; }

#bio-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 1.3rem; }

.bio-texto {
  text-align: center;
  font-size: medium; }

@media screen and (max-width: 576px) {
  #bio-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem; }
    #bio-img a > img {
      height: 300px;
      width: 400px;
      border-radius: 2rem; } }

@media screen and (min-width: 577px) {
  #bio-img {
    margin-bottom: 5rem; } }

@media screen and (max-width: 991px) {
  #bio-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem; } }

@media screen and (min-width: 992px) {
  #bio-img {
    gap: 3rem;
    margin-bottom: 12rem; } }

#bio-img img {
  height: 400px;
  width: 500px;
  border-radius: 2rem; }

/* IMÁGEN EFECTO */
/* MENU HAMBURGUESA */
@media screen and (min-width: 768px) {
  #main-header {
    display: none; } }

@media screen and (max-width: 767px) {
  #header2 {
    display: none; } }

* {
  margin: 0;
  padding: 0; }

#main-header {
  height: 110px; }

.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23074d;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #c3143165, #240b3669), url(../img/meli1.jpg);
  background: linear-gradient(to right, #c3143157, #240b367c), url(../img/meli1.jpg);
  padding: 0 0.4rem; }

.main-logo {
  color: white;
  font-size: 32px;
  text-decoration: none; }
  .main-logo img {
    padding-left: 1rem;
    height: 120px;
    width: 250px; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }

.main-nav.show {
  margin-left: 0; }

.nav-links {
  background-color: #ffffff;
  background: -webkit-linear-gradient(to right, #c31431af, #240b3675), url(../img/meli1.jpg);
  background: linear-gradient(to right, #c3143183, #240b36ab), url(../img/meli1.jpg);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3.5rem; }
  .nav-links a {
    color: #ffffff;
    font-size: 1.8rem; }

.link-item:first-child {
  margin-bottom: 2rem; }

.link-item {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: bold;
  position: relative; }

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer; }

/* 
    Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
  */
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear; }

/* 
    con los span dibujamos un icono de cerrar 
    para mostrar cuándo la navegación este abierta 
  */
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff; }

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px); }

.button-menu.close span:nth-child(3) {
  display: none; }

* {
  margin: 0;
  padding: 0; }

.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 0.4rem; }

.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; }

.main-nav.show {
  margin-left: 0; }

.nav-links {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start; }

.link-item {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: bold;
  position: relative; }

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all; }

.link-item:hover::after {
  width: 100%; }

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear; }

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff; }

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px); }

.button-menu.close span:nth-child(3) {
  display: none; }

@media screen and (min-width: 768px) {
  .button-menu {
    display: none; }
  .main-logo {
    flex-basis: 30%; }
  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%; }
  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white; }
  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem; } }

#grid-body-clases {
  height: 100%;
  padding: 0;
  background-color: #5f4ba5;
  font-family: 'Open Sans', sans-serif; }

#clases {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 6rem;
  margin-top: 70px;
  width: 100%;
  height: 100%; }
  #clases .clases__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 1rem; }
    #clases .clases__video iframe {
      max-width: 100%;
      height: 300px;
      width: 450px;
      border-radius: 10px; }
    #clases .clases__video .clases__video-caja1, #clases .clases__video .clases__video-caja2, #clases .clases__video .clases__video-caja3, #clases .clases__video .clases__video-caja4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      font-size: 1rem; }
    #clases .clases__video .clases__video-texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
      font-size: 1.3rem; }
      #clases .clases__video .clases__video-texto p {
        text-align: center; }
    #clases .clases__video .clases__video-caja1 h2, #clases .clases__video .clases__video-caja2 h2, #clases .clases__video .clases__video-caja3 h2, #clases .clases__video .clases__video-caja4 h2 {
      border: solid 2px;
      border-radius: 8px;
      background-color: #23074d;
      color: #fff;
      padding: 5px; }

@media screen and (min-width: 576px) {
  iframe {
    max-width: 100%;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
  iframe:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.5); } }

@media screen and (min-width: 1024px) {
  #clases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4rem;
    column-gap: 4rem; } }

/* CARDS */
#cards {
  height: 350px;
  margin-bottom: 0;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-content: center; }

.container1 {
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex; }

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px; }

.one {
  background-image: url(../img/carousel6.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.two {
  background-image: url(../img/carousel5.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.three {
  background-image: url(../img/carousel12.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.four {
  background-image: url(../img/carousel13.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.card:not(:first-child) {
  margin-left: -50px; }

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out; }

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px; }

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px; }

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%; }

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #009ad9;
  background: linear-gradient(90deg, #009ad9 0%, #d99300 65%, #ffba00 100%);
  transition: 0.6s ease-out; }

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out; }

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
  opacity: 0.8; }

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out; }

svg {
  fill: #17141d;
  stroke-width: 2px; }

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out; }

/* MENU HAMBURGUESA */
#main-header {
  height: 110px; }

.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23074d;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #c3143165, #240b3669), url(../img/meli1.jpg);
  background: linear-gradient(to right, #c3143157, #240b367c), url(../img/meli1.jpg);
  padding: 0 0.4rem; }

.main-logo {
  color: white;
  font-size: 32px;
  text-decoration: none; }
  .main-logo img {
    padding-left: 1rem;
    height: 120px;
    width: 250px; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }

.main-nav.show {
  margin-left: 0; }

.nav-links {
  background-color: #ffffff;
  background: -webkit-linear-gradient(to right, #c31431af, #240b3675), url(../img/meli1.jpg);
  background: linear-gradient(to right, #c3143183, #240b36ab), url(../img/meli1.jpg);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3.5rem; }
  .nav-links a {
    color: #ffffff; }

.link-item:first-child {
  margin-bottom: 2rem; }

.link-item {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: bold;
  position: relative; }

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer; }

/* 
    Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
  */
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear; }

/* 
    con los span dibujamos un icono de cerrar 
    para mostrar cuándo la navegación este abierta 
  */
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff; }

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px); }

.button-menu.close span:nth-child(3) {
  display: none; }

* {
  margin: 0;
  padding: 0; }

.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 0.4rem; }

.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; }

.main-nav.show {
  margin-left: 0; }

.nav-links {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start; }

.link-item {
  margin-top: 2rem;
  text-decoration: none;
  font-weight: bold;
  position: relative; }

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all; }

.link-item:hover::after {
  width: 100%; }

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear; }

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff; }

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px); }

.button-menu.close span:nth-child(3) {
  display: none; }

@media screen and (min-width: 768px) {
  .button-menu {
    display: none; }
  .main-logo {
    flex-basis: 30%; }
  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%; }
  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white; }
  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem; } }

#cursos {
  height: 100vh;
  width: 100%; }

.pre-grid-titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 100%;
  position: relative;
  justify-content: center; }

.pre-grid-titulos:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: white;
  background-position: 50% o;
  background-size: cover; }

.pre-grid-titulos1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  margin-top: 1.5rem;
  gap: 4rem; }

#pre-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
  background-image: url(../img/MeliYoga3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 5px 2px 1px rgba(0, 0, 0, 0.4); }

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 250px;
  background-color: #3066BE;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  gap: 2rem; }

.boxes img {
  height: 50px;
  width: 50px; }

#cursos {
  background-image: url(../img/landscape2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 2000px; }

#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 12rem;
  margin-bottom: 20rem;
  gap: 8rem; }

.grid__productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem; }

.grid__productos h3 {
  font-weight: bold; }

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 300px;
  background-image: url(../img/carouse17.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  border-radius: 12px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  gap: 1rem; }
  .box img {
    height: 200px;
    width: 150px;
    border-radius: 15px;
    margin-bottom: 1rem; }
  .box h2 {
    border-radius: 5px;
    background-color: rgba(189, 27, 89, 0.5);
    background-size: cover;
    width: 100%;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .box:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.2); }
  .box .demo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%; }
    .box .demo-content button {
      font-weight: bold; }

/* EFECTO BLUR FONDO .BOX */
.demo-wrap {
  position: relative; }

.demo-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; }

.demo-content {
  position: relative; }

/* -------------------------------*/
.grid__textos h1 {
  text-align: center; }

.grid__textos h3 {
  text-align: center; }

.grid__textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: white; }

@media screen and (max-width: 320px) {
  .main-header > a > img {
    height: 95px;
    width: 180px; }
  .pre-grid-titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 100%;
    position: relative;
    justify-content: center; }
    .pre-grid-titulos .pre-grid-titulos1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      text-align: center;
      margin-top: 1.5rem;
      gap: 1.5rem; }
  #pre-grid {
    height: 100%;
    padding: 10px; }
    #pre-grid .boxes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 250px;
      width: 200px;
      background-color: #3066BE;
      border-radius: 5px;
      box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
      gap: 2rem;
      padding: 10px; }
    #pre-grid .boxes img {
      height: 50px;
      width: 50px; }
  #grid {
    height: 100%;
    margin-top: 15rem; }
    #grid .box {
      height: 300px;
      width: 250px;
      color: black;
      border: #23074d;
      padding: 15px;
      font-size: 150%;
      align-content: center;
      text-align: center;
      gap: 1rem;
      cursor: pointer;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
      #grid .box:hover {
        transform: scale(1.05);
        box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.5); } }

@media screen and (max-width: 576px) {
  #pre-grid {
    height: 1200px;
    padding: 10px; }
  #grid {
    height: 2600px;
    padding-top: 4rem; }
  .box {
    color: black;
    border: #23074d;
    padding: 15px;
    font-size: 150%;
    align-content: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .box:hover {
      transform: scale(1.05);
      box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.5); } }

@media screen and (min-width: 576px) {
  #pre-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 1500px;
    width: 100%;
    gap: 5rem; }
  #grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2500px;
    padding-top: 2rem; }
  .grid__textos {
    padding-top: 15px;
    margin-bottom: 0 auto; }
  .grid__productos {
    display: grid;
    grid-template-columns: 300px;
    grid-gap: 80px;
    color: #444;
    justify-content: center;
    height: 100%;
    padding-top: 0;
    margin-bottom: 2rem; }
  .box {
    color: black;
    border: #23074d;
    padding: 15px;
    font-size: 150%;
    align-content: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .box:hover {
      transform: scale(1.05);
      box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.5); }
  .grid__productos div {
    justify-content: center; }
  .grid__productos img {
    height: 200px;
    width: 150px;
    border-radius: 15px; }
  .grid__productos h3 {
    font-weight: bold; } }

@media screen and (min-width: 768px) {
  #pre-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 100%;
    gap: 5rem; }
  #grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 4.5rem; }
  .grid__productos {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 100px;
    color: #444;
    justify-content: center;
    row-gap: 3rem; }
  .box {
    padding: 15px;
    font-size: 150%;
    align-content: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .box:hover {
      transform: scale(1.05);
      box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.5); }
  .grid__productos div {
    justify-content: center; }
  .grid__productos img {
    height: 200px;
    width: 150px;
    border-radius: 15px; }
  .grid__productos h3 {
    font-weight: bold; } }

@media screen and (min-width: 992px) {
  #pre-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 100%; }
  #grid {
    gap: 1rem;
    height: 2000px; }
  .grid__productos {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 80px;
    justify-content: center;
    height: 800px; }
  .box {
    padding: 15px;
    font-size: 150%;
    align-content: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .box:hover {
      transform: scale(1.05);
      box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.5); } }

@media screen and (min-width: 1024px) {
  #pre-grid {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    width: 100%; }
  #grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    width: 100%;
    justify-content: center;
    gap: 3rem; }
  .grid__productos {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: auto;
    color: #444;
    justify-content: center; }
  .box {
    padding: 15px;
    font-size: 150%;
    align-content: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .box:hover {
      transform: scale(1.05);
      box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.5); }
  .grid__productos div {
    justify-content: center; }
  .grid__productos img {
    height: 200px;
    width: 150px;
    border-radius: 15px; } }

/* Formulario */

#formulario {
  margin: 4rem 4rem; }
  #formulario .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(to right, #cc54339a, #23074d93);
    background: linear-gradient(to right, #cc5433a1, #23074d7c);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px black;
    gap: 1rem; }
    #formulario .formulario .formulario__titulo {
      font-size: 2.2rem;
      margin-bottom: .5em; }
    #formulario .formulario .formulario__texto {
      font-weight: 300;
      font-size: 1rem; }
    #formulario .formulario .formulario__cajas {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #formulario .formulario .formulario__cajas label {
        text-align: center;
        display: block;
        font-size: 1rem; }
        #formulario .formulario .formulario__cajas label .text {
          font-size: 1.4rem;
          font-family: sans-serif; }
    #formulario .formulario .comentarios-btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem; }
    #formulario .formulario p, #formulario .formulario a, #formulario .formulario legend {
      font-size: 1.5rem;
      text-align: center; }

input, #formulario .formulario .comentarios-btns textarea {
  border-radius: 3px;
  box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.2); }

/* FORM2 */
form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px; }

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold; }

input, #formulario .formulario .comentarios-btns textarea,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px; }

input[type="submit"], #formulario .formulario .comentarios-btns textarea[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type="submit"]:hover, #formulario .formulario .comentarios-btns textarea[type="submit"]:hover {
  background-color: #45a049; }

@media screen and (max-width: 320px) {
  .main-header > a > img {
    height: 95px;
    width: 180px; } }


/*LOGO ---------------------------------------------------------------------------------------------------*/
.logo img {
  height: 150px;
  width: 150px; }

/* FOOTER ---------------------------------------------------------------------------------------------------*/
footer {
  background: -webkit-linear-gradient(#fff, #23074d4f);
  background: linear-gradient(#fff, #23074d50);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

footer img {
  height: 25px;
  width: 25px; }

.footer {
  display: flex;
  flex-direction: column;
  text-align: center; }

.footer2 {
  text-align: center; }

.footer h4, h5 {
  font-size: 1rem;
  font-weight: bold; }

.parrafo p {
  padding: 2px;
  border: 1rem 1rem 1rem 1rem;
  border-width: 6px;
  border-image-width: 2rem;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold; }

@media screen and (min-width: 768px) {
  #footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    justify-items: center; } }

@media screen and (min-width: 992px) {
  #footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
    padding-left: 4px;
    padding-right: 4px; } }

/* ICONOS REDES EN FOOTER */
.wrapper {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  gap: 5px; }

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding-left: 12px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1); }

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff; }

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff; }

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff; }

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff; }

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff; }
