* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}


#grid-body {
    display: grid;
    grid-template-areas: 
    "header"
    "titulo"
    "productos"
    "titulo2"
    "acerca-denosotros"
    "footer";
    grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
    #grid-body {
        grid-template-areas: 
        "header header"
        "titulo titulo"
        "productos productos"
        "titulo2 titulo2"
        "acerca-denosotros acerca-denosotros"
        "footer footer";
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

#contenedor {
    grid-area: header;
}

.titulo {
    grid-area: titulo;
}

#productos {
    grid-area: productos;
}

.titulo2 {
    grid-area: titulo2;
    align-items: center;
}

#acerca-denosotros {
    grid-area: acerca-denosotros;
}

#footer {
    grid-area: footer;
}

/* HEADER ---------------------------------------------------------------------------------------------------*/

#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    background: url(../img/meli1.jpg);
    background: #23074d; 
    /*background: -webkit-linear-gradient(to right, #cc54339a, #23074d93), url(../img/meli1.jpg);  
    background: linear-gradient(to right, #cc5433a1, #23074d7c), url(../img/meli1.jpg); */
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#c31431af, #240b3675), url(../img/meli1.jpg);  
    background: linear-gradient(to right,#c3143183, #240b36ab), url(../img/meli1.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    #contenedor {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 320px;
    }

    .menu .logo {
        padding: 1rem;
    }

    .menu {
        align-self: stretch;
    }

    .logo img {
       margin-bottom: 70px;
    }
}

.menu {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.menu__ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: right;
    margin-right: 50px;
    margin-top: 0;
}

.menu__ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 450;
    font-size: larger;
}

li:hover {
    text-decoration: underline;
}

#wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.titulo {
    margin-top: 100px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: larger;
    justify-content: center;
}


.titulo h1 h2 {
    align-items: center;
}


/*LOGO ---------------------------------------------------------------------------------------------------*/

.logo img {
    height: 100px;
    width: 100px;
}


/* PRODUCTOS --------------------------------------------------------------------------------------------------*/

#productos { 
    height: 100%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 20rem;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    #productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
}

.imagen {
    display: flex;
    border-color: black;
    margin: 2rem;
    border: #23074d;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.imagen img {
    height: 200px;
    width: 150px;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.imagen__img1, .imagen__img2, .imagen__img3 {
    top: -50px;
    left: -35px;
    display: block;
    z-index: 999;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.imagen__img1:hover {
    transform: scale(1.5);
}

.imagen__img2:hover {
    transform: scale(1.5);
}

.imagen__img3:hover {
    transform: scale(1.5);
}

.imagen h2 {
    margin-bottom: 1rem;
}

.imagen p {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
}

/* ICONOS  --------------------------------------------------------------------------------------------------*/

.iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 25rem;
}

.iconos img {
    height: 50px;
    width: 50px;
}

.titulo2 {
    height: 750px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Rowdies', cursive;
    font-size: larger;
    margin-bottom: 3rem;
    gap: 3rem;
}

@media screen and (min-width: 768px) {
    .iconos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 8rem;
    }
}

@media screen and (min-width: 1024px) {
    .iconos {
        display: grid;
        grid-template-columns: 55%;
        grid-template-rows: repeat(3, 100px);
        grid-template-areas: 
        "iconos1 iconos2"
        "iconos3 iconos4"
        "iconos5 iconos5";
        row-gap: 6rem;
        margin-bottom: 9rem;
    }

    .iconos__contenido5 {
        margin: 0 auto;
    }

    .titulo2 {
        gap: 8rem;
    }
}

.iconos__contenido1 {
    grid-area: iconos1;
}

.iconos__contenido2 {
    grid-area: iconos2;
}

.iconos__contenido3 {
    grid-area: iconos3;
}

.iconos__contenido4 {
    grid-area: iconos4;
}

.iconos__contenido5 {
    grid-area: iconos5;
}

.titulo2__titulos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    background-color: rgb(160, 157, 157);
    padding: 2rem;
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.titulo2__titulos__2 h1 {
    font-family: 'DM Sans', sans-serif;
}

#titulo2 h1 {
    text-align: center;
}

.iconos p {
    font-family: 'Open Sans', sans-serif;
}

.iconos__contenido1, .iconos__contenido2, .iconos__contenido3, .iconos__contenido4, .iconos__contenido5 {
    text-align: center;
    color: black;
}

/* ACERCA DE NOSOTROS ---------------------------------------------------------------------------------------*/


#acerca-denosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 6rem;
}

.acerca-denosotros__texto {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 1024px) {
    #acerca-denosotros {
        display: grid;
        grid-template-areas:
        "titulo3 titulo3"
        "texto3 video3" ;
        grid-template-columns: 30%;
        grid-template-rows: 2fr;
        column-gap: 4rem;
        row-gap: 4rem ;
        justify-content: center;
        margin-bottom: 8rem;
    }

    .acerca-denosotros__titulo {
        text-align: center;
    }
}


.acerca-denosotros__titulo {
    grid-area: titulo3;
}

.acerca-denosotros__texto {
    grid-area: texto3;
}

.acerca-denosotros__video {
    grid-area: video3;
}

.acerca-denosotros__video iframe {
    border-radius: 15px;
}

/* FOOTER ---------------------------------------------------------------------------------------------------*/

footer {
    background: -webkit-linear-gradient(#fff, #23074d);  
    background: linear-gradient(#fff, #23074d); 
    padding-top: 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer img {
    height: 30px;
    width: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer2 {
    text-align: center;
}

.youtube {
    height: 32px;
    width: 32px;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 1rem;
}


.parrafo p {
    padding: 2px;
    border: 1rem 1rem 1rem 1rem;
    border-width: 6px;
    border-image-width: 2rem;
    border-radius: 6px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    #footer {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
        justify-content: space-evenly;
        padding-bottom: 1.5rem;
        padding-left: 4px;
        padding-right: 4px;
    }

    .icon {
        gap: 2rem;
        margin-bottom: 0;
    }
}


/* PÁGINA "CLASES" ------------------------------------------------------------------------------------------------*/

#clases {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    max-width: 100%;
    margin: 4rem 4rem;
}

@media screen and (min-width: 768px) {
    #grid-body-clases {
        grid-template-areas:
        "header header"
        "clases clases"
        "footer footer";
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 3rem;
    }
    
    #clases {
        display: grid;
        grid-template-areas: 
        "header header header"
        "clases clases"
        "clases clases"
        "footer footer footer";
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        justify-content: center;
        
        }
            
    }

#clases {
    grid-area: clases;
}

.clases__video {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.clases__video iframe {
    border-radius: 10px;
}

.clases__video-caja1, .clases__video-caja2, .clases__video-caja3, .clases__video-caja4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}


.clases__video-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.clases__video-texto p {
    text-align: center;
}

.clases__video-caja1 h2, .clases__video-caja2 h2, .clases__video-caja3 h2, .clases__video-caja4 h2 {
    border: solid 2px;
    border-radius: 8px;
    background-color: #23074d;
    color: #fff;
    padding: 5px;
}

/* PÁGINA "CURSOS" ---------------------------------------------------------------------------------------*/

    #grid {
        height: 1500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 300px;
        margin-bottom: 17rem;
        gap: 4rem;
    }

    .grid__productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.5rem;
    }

    .box {
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    
    .box img {
        height: 200px;
        width: 150px;
        border-radius: 15px;
        margin-bottom: 1rem;
    }

    .grid__textos h1 {
        text-align: center;
    }

    .grid__textos h3 {
        text-align: center;
    }

    .grid__textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }


@media screen and (min-width: 768px) {
    #grid {
        height: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 45px;
        margin-bottom: 3rem;
    }

    .grid__productos {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-gap: 45px;
        color: #444;
        justify-content: center;
        margin: 5rem 5rem;
    }
  
    .box {
        background-color:#23074d;
        color: #fff;
        border-radius: 20px;
        padding: 20px;
        font-size: 150%;
        align-content: center;
        text-align: center;
        gap: 1rem;
    }

    .grid__productos div {
        justify-content: center;
    }

    .grid__productos img {
        height: 200px;
        width: 150px;
        border-radius: 15px;
    }
}

.imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6 {
    top: -50px;
    left: -35px;
    z-index: 999;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.imagen1:hover {
    transform: scale(1.5);
}

.imagen2:hover {
    transform: scale(1.5);
}

.imagen3:hover {
    transform: scale(1.5);
}

.imagen4:hover {
    transform: scale(1.5);
}

.imagen5:hover {
    transform: scale(1.5);
}

.imagen6:hover {
    transform: scale(1.5);
}

/* PÁGINA "BIO" ---------------------------------------------------------------------------------------------------*/ 

#bio-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    #bio-img {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
}

#bio-img img {
    height: 400px;
    width: 500px;
    border-radius: 2rem;
}

/* #bio-texto {
    transform: translate(20%, -30%);
}*/

/* PÁGINA "FORMULARIO" -----------------------------------------------------------------------------------------*/

#formulario {
    margin: 4rem 4rem;
}

.formulario {
    background: -webkit-linear-gradient(to right, #cc54339a, #23074d93);  
    background: linear-gradient(to right, #cc5433a1, #23074d7c);
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
    gap: 1rem;
}

label {
    display: block;
}

.formulario__titulo {
    font-size: 2rem;
    margin-bottom: .5em;
}

.formulario__texto {
    font-weight: 300;
}

input {
    border-radius: 3px;
}