@import "global.scss";
@import "variables.scss";


#grid-body-clases {
  height: 100%;
  padding: 0;
  background-color: #5f4ba5;
  font-family: 'Open Sans', sans-serif;
}


#clases {
    @include flex-column-centrado;
    gap: 1.5rem;
    padding-bottom: 6rem;
    margin-top: 70px;
    width: 100%;
    height: 100%;

    .clases__video {
        @include flex-column-centrado;
        margin-top: 30px;
        gap: 1rem;

        iframe {
          max-width: 100%;
            height: 300px;
            width: 450px;
            border-radius: 10px;
        }

        .clases__video-caja1, .clases__video-caja2{
            @include flex-column-centrado;
            justify-content: center;
            gap: .5rem;
            font-size: 1rem;
        }

        .clases__video-texto {
            @include flex-column-centrado;
            gap: .5rem;
            font-size: 1.3rem;

            p {
                text-align: center;
            }
        }

        .clases__video-caja1 h2, .clases__video-caja2 h2 {
            border: solid 2px;
            border-radius: 8px;
            background-color: #23074d;
            color: #fff;
            padding: 5px;
        }
    }
}
